node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build


# SQLite databases and WAL files
local.db
local.db-wal
local.db-shm

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# SQLite
*.db
